.about-us {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about-us .div {
  background-color: #ffffff;
  width: 1440px;
  height: 5635px;
  position: relative;
}

.about-us .footer {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-end;
  gap: 10px;
  padding: 40px 97px;
  position: absolute;
  top: 5310px;
  left: 0;
  background-color: var(--blue-500);
}

.about-us .frame {
  display: flex;
  flex-direction: column;
  height: 245px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.about-us .frame-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about-us .frame-3 {
  display: flex;
  width: 652px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.about-us .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.about-us .group {
  position: relative;
  width: 269px;
  height: 19px;
  margin-right: -2.00px;
}

.about-us .text-wrapper {
  position: absolute;
  width: 267px;
  top: 0;
  left: 0;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: #ffffff;
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  direction: rtl;
  font-style: var(--body-bold-font-style);
}

.about-us .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about-us .frame-6 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.about-us .text-wrapper-2 {
  position: relative;
  width: 135px;
  height: 18px;
  margin-top: -1.00px;
  font-family: var(--details-font-family);
  font-weight: var(--details-font-weight);
  color: #ffffff;
  font-size: var(--details-font-size);
  text-align: right;
  letter-spacing: var(--details-letter-spacing);
  line-height: var(--details-line-height);
  white-space: nowrap;
  font-style: var(--details-font-style);
}

.about-us .mail {
  position: relative;
  width: 14px;
  height: 10px;
}

.about-us .overlap-group-wrapper {
  position: relative;
  width: 13px;
  height: 9px;
  top: 1px;
  left: 1px;
}

.about-us .overlap-group {
  position: relative;
  width: 14px;
  height: 10px;
  background-image: url(https://c.animaapp.com/1lwzhgBv/img/vector.svg);
  background-size: 100% 100%;
}

.about-us .vector {
  position: absolute;
  width: 14px;
  height: 5px;
  top: 1px;
  left: 0;
}

.about-us .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--details-font-family);
  font-weight: var(--details-font-weight);
  color: #ffffff;
  font-size: var(--details-font-size);
  text-align: right;
  letter-spacing: var(--details-letter-spacing);
  line-height: var(--details-line-height);
  white-space: nowrap;
  font-style: var(--details-font-style);
}

.about-us .vector-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
}

.about-us .img {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
}

.about-us .vector-2 {
  position: absolute;
  width: 11px;
  height: 13px;
  top: 1px;
  left: 3px;
}

.about-us .frame-7 {
  display: flex;
  flex-direction: column;
  width: 89px;
  align-items: flex-end;
  gap: 16px;
  position: relative;
}

.about-us .div-wrapper {
  position: relative;
  width: 269px;
  height: 19px;
  margin-left: -178.00px;
  margin-right: -2.00px;
}

.about-us .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--details-font-family);
  font-weight: var(--details-font-weight);
  color: #ffffff;
  font-size: var(--details-font-size);
  line-height: var(--details-line-height);
  letter-spacing: var(--details-letter-spacing);
  direction: rtl;
  font-style: var(--details-font-style);
}

.about-us .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: var(--details-font-family);
  font-weight: var(--details-font-weight);
  color: #ffffff;
  font-size: var(--details-font-size);
  line-height: var(--details-line-height);
  letter-spacing: var(--details-letter-spacing);
  direction: rtl;
  font-style: var(--details-font-style);
}

.about-us .text-wrapper-6 {
  position: relative;
  width: 119px;
  margin-left: -30.00px;
  font-family: var(--details-font-family);
  font-weight: var(--details-font-weight);
  color: #ffffff;
  font-size: var(--details-font-size);
  line-height: var(--details-line-height);
  letter-spacing: var(--details-letter-spacing);
  direction: rtl;
  font-style: var(--details-font-style);
}

.about-us .frame-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.about-us .logo {
  position: relative;
  width: 454px;
  height: 87px;
  background-image: url(https://c.animaapp.com/1lwzhgBv/img/------@2x.png);
  background-size: 100% 100%;
}

.about-us .p {
  position: relative;
  width: 341px;
  font-family: var(--details-font-family);
  font-weight: var(--details-font-weight);
  color: var(--neutral-0);
  font-size: var(--details-font-size);
  line-height: var(--details-line-height);
  letter-spacing: var(--details-letter-spacing);
  direction: rtl;
  font-style: var(--details-font-style);
}

.about-us .frame-9 {
  position: relative;
  width: 319px;
  flex: 0 0 auto;
}

.about-us .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about-us .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  margin-top: -0.50px;
}

.about-us .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  text-align: center;
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  direction: rtl;
  font-style: var(--body-font-style);
}

.about-us .overlap {
  position: absolute;
  width: 1440px;
  height: 872px;
  top: 0;
  left: 0;
}

.about-us .overlap-2 {
  position: absolute;
  width: 1440px;
  height: 834px;
  top: 0;
  left: 0;
}

.about-us .group-2 {
  position: absolute;
  width: 1440px;
  height: 724px;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 4px #00000040;
  background-image: url(https://c.animaapp.com/1lwzhgBv/img/475662958-18492881281031837-8072314904864626091-n-2.png);
  background-size: 100% 100%;
}

.about-us .element {
  position: absolute;
  width: 282px;
  height: 282px;
  top: 552px;
  left: 91px;
  object-fit: cover;
}

.about-us .bg {
  position: absolute;
  width: 818px;
  height: 138px;
  top: 514px;
  left: 526px;
  background-color: #0000000f;
  border-radius: 27px;
  border: 1px solid;
  border-color: #ffffff4a;
  backdrop-filter: blur(6.6px) brightness(100%);
  -webkit-backdrop-filter: blur(6.6px) brightness(100%);
}

.about-us .text-wrapper-8 {
  position: absolute;
  width: 758px;
  height: 138px;
  top: 513px;
  left: 551px;
  font-family: "Cairo", Helvetica;
  font-weight: 500;
  color: var(--neutral-0);
  font-size: 31px;
  line-height: 40.9px;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .overlap-wrapper {
  position: absolute;
  width: 1205px;
  height: 83px;
  top: 51px;
  left: 118px;
}

.about-us .overlap-3 {
  position: relative;
  height: 83px;
  border-radius: 29px;
}

.about-us .group-3 {
  position: absolute;
  width: 1205px;
  height: 83px;
  top: 0;
  left: 0;
  background-color: #ffffff0f;
  border-radius: 29px;
  border: 1px solid;
  border-color: #ffffff4a;
  backdrop-filter: blur(6.6px) brightness(100%);
  -webkit-backdrop-filter: blur(6.6px) brightness(100%);
}

.about-us .logo-2 {
  position: absolute;
  width: 248px;
  height: 48px;
  top: 12px;
  left: 925px;
  background-image: url(https://c.animaapp.com/1lwzhgBv/img/-------5@2x.png);
  background-size: 100% 100%;
}

.about-us .group-4 {
  position: absolute;
  width: 176px;
  height: 32px;
  top: 23px;
  left: 53px;
}

.about-us .frame-11 {
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue-500);
  border-radius: 8px;
}

.about-us .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--details-bold-font-family);
  font-weight: var(--details-bold-font-weight);
  color: var(--neutral-0);
  font-size: var(--details-bold-font-size);
  text-align: left;
  line-height: var(--details-bold-line-height);
  white-space: nowrap;
  letter-spacing: var(--details-bold-letter-spacing);
  direction: rtl;
  font-style: var(--details-bold-font-style);
}

.about-us .overlap-group-2 {
  position: absolute;
  width: 39px;
  height: 22px;
  top: 4px;
  left: 135px;
}

.about-us .vector-3 {
  position: absolute;
  width: 9px;
  height: 7px;
  top: 11px;
  left: 27px;
}

.about-us .text-wrapper-10 {
  position: absolute;
  width: 39px;
  top: 0;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--neutral-0);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.about-us .navbar {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 32px;
  left: 363px;
}

.about-us .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--neutral-0);
  font-size: var(--body-font-size);
  text-align: left;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  direction: rtl;
  font-style: var(--body-font-style);
}

.about-us .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: var(--blue-100);
  font-size: var(--body-bold-font-size);
  text-align: left;
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  direction: rtl;
  font-style: var(--body-bold-font-style);
}

.about-us .text-wrapper-13 {
  position: absolute;
  width: 251px;
  top: 794px;
  left: 1092px;
  font-family: "Cairo", Helvetica;
  font-weight: 700;
  color: var(--blue-500);
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .group-wrapper {
  display: flex;
  flex-direction: column;
  width: 1248px;
  align-items: center;
  gap: 19px;
  position: absolute;
  top: 2993px;
  left: 96px;
}

.about-us .group-5 {
  position: relative;
  width: 134px;
  height: 37px;
}

.about-us .text-wrapper-14 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--header-bold-font-family);
  font-weight: var(--header-bold-font-weight);
  color: var(--blue-500);
  font-size: var(--header-bold-font-size);
  text-align: center;
  line-height: var(--header-bold-line-height);
  white-space: nowrap;
  letter-spacing: var(--header-bold-letter-spacing);
  direction: rtl;
  font-style: var(--header-bold-font-style);
}

.about-us .overlap-4 {
  position: absolute;
  width: 1440px;
  height: 515px;
  top: 3624px;
  left: 0;
}

.about-us .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 515px;
  align-items: center;
  gap: 29px;
  padding: 69px 32px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
}

.about-us .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.about-us .group-6 {
  position: relative;
  width: 704px;
  height: 50px;
}

.about-us .group-7 {
  position: relative;
  width: 706px;
  height: 50px;
}

.about-us .text-wrapper-15 {
  position: absolute;
  width: 704px;
  top: 0;
  left: 0;
  font-family: "Cairo", Helvetica;
  font-weight: 700;
  color: var(--blue-500);
  font-size: 37px;
  text-align: center;
  line-height: 50.0px;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "DIN Next LT Arabic-Regular", Helvetica;
  font-weight: 400;
  color: var(--blue-500);
  font-size: 30px;
  text-align: center;
  line-height: 40.5px;
  white-space: nowrap;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .frame-13 {
  display: flex;
  width: 1248px;
  align-items: center;
  justify-content: flex-end;
  gap: 46px;
  position: absolute;
  top: 235px;
  left: 96px;
  overflow: hidden;
  overflow-x: scroll;
}

.about-us .frame-13::-webkit-scrollbar {
  width: 0;
  display: none;
}

.about-us .element-2 {
  position: relative;
  width: 195px;
  height: 195px;
  object-fit: cover;
}

.about-us .overlap-5 {
  position: absolute;
  width: 1440px;
  height: 699px;
  top: 1130px;
  left: 0;
  background-image: url(https://c.animaapp.com/1lwzhgBv/img/aerial-view-container-cargo-ship-sea--2-.png);
  background-size: 100% 100%;
}

.about-us .overlap-6 {
  position: absolute;
  width: 629px;
  height: 201px;
  top: 206px;
  left: 737px;
}

.about-us .overlap-7 {
  position: absolute;
  width: 629px;
  height: 199px;
  top: 0;
  left: 0;
}

.about-us .overlap-8 {
  position: absolute;
  width: 451px;
  height: 154px;
  top: 45px;
  left: 178px;
}

.about-us .text-wrapper-17 {
  position: absolute;
  width: 332px;
  top: 0;
  left: 115px;
  font-family: "Cairo", Helvetica;
  font-weight: 700;
  color: var(--neutral-0);
  font-size: 45px;
  text-align: center;
  line-height: 54.0px;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .text-wrapper-18 {
  position: absolute;
  width: 249px;
  top: 98px;
  left: 202px;
  font-family: "Cairo", Helvetica;
  font-weight: 700;
  color: var(--blue-100);
  font-size: 45px;
  text-align: center;
  line-height: 54.0px;
  white-space: nowrap;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .frame-14 {
  display: flex;
  width: 154px;
  height: 39px;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 10px;
  position: absolute;
  top: 115px;
  left: 0;
  background-color: #ed2126;
  border-radius: 100px;
}

.about-us .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -6.50px;
  margin-bottom: -4.50px;
  font-family: "Cairo", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  line-height: normal;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .arrow {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -2.50px;
  margin-bottom: -2.50px;
}

.about-us .overlap-9 {
  position: absolute;
  width: 290px;
  height: 124px;
  top: 0;
  left: 0;
}

.about-us .text-wrapper-20 {
  position: absolute;
  width: 290px;
  top: 0;
  left: 0;
  font-family: "Cairo", Helvetica;
  font-weight: 700;
  color: var(--neutral-0);
  font-size: 96px;
  text-align: right;
  letter-spacing: 0;
  line-height: 115.2px;
  white-space: nowrap;
}

.about-us .text-wrapper-21 {
  position: absolute;
  width: 130px;
  top: 39px;
  left: 12px;
  font-family: "Cairo", Helvetica;
  font-weight: 700;
  color: var(--neutral-0);
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .frame-15 {
  display: flex;
  width: 154px;
  height: 39px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  position: absolute;
  top: 162px;
  left: 4px;
  background-color: #0056a0;
  border-radius: 100px;
}

.about-us .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -4.50px;
  margin-bottom: -2.50px;
  font-family: "Cairo", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  line-height: normal;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .div-2 {
  position: absolute;
  width: 681px;
  top: 122px;
  left: 700px;
  font-family: "Cairo", Helvetica;
  font-weight: 400;
  color: var(--neutral-0);
  font-size: 45px;
  text-align: center;
  line-height: 54.0px;
  white-space: nowrap;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .span {
  font-weight: 900;
}

.about-us .text-wrapper-23 {
  font-weight: 700;
}

.about-us .text-wrapper-24 {
  font-family: "Cairo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 54.0px;
}

.about-us .overlap-10 {
  position: absolute;
  width: 619px;
  height: 200px;
  top: 431px;
  left: 720px;
}

.about-us .bg-2 {
  position: absolute;
  width: 619px;
  height: 154px;
  top: 0;
  left: 0;
  background-color: #ffffff0f;
  border-radius: 29px;
  border: 1px solid;
  border-color: #ffffff4a;
  backdrop-filter: blur(6.6px) brightness(100%);
  -webkit-backdrop-filter: blur(6.6px) brightness(100%);
}

.about-us .text-wrapper-25 {
  position: absolute;
  width: 544px;
  top: 19px;
  left: 35px;
  font-family: "Cairo", Helvetica;
  font-weight: 500;
  color: var(--neutral-0);
  font-size: 24px;
  text-align: justify;
  line-height: 35.8px;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .layer {
  position: absolute;
  width: 129px;
  height: 43px;
  top: 603px;
  left: 88px;
  background-image: url(https://c.animaapp.com/1lwzhgBv/img/layer-1@2x.png);
  background-size: 100% 100%;
}

.about-us .rectangle {
  height: 534px;
  top: 1993px;
  left: 107px;
  position: absolute;
  width: 395px;
}

.about-us .EFB-wrapper {
  position: absolute;
  width: 395px;
  height: 443px;
  top: 1993px;
  left: 526px;
  background-color: #0056a0;
  border-radius: 20px;
}

.about-us .EFB {
  position: absolute;
  width: 293px;
  top: 51px;
  left: 53px;
  font-family: "Cairo", Helvetica;
  font-weight: 700;
  color: var(--blue-100);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 63.2px;
  direction: rtl;
}

.about-us .rectangle-2 {
  height: 321px;
  top: 1993px;
  left: 944px;
  object-fit: cover;
  position: absolute;
  width: 395px;
}

.about-us .overlap-11 {
  position: absolute;
  width: 395px;
  height: 368px;
  top: 2556px;
  left: 107px;
}

.about-us .rectangle-3 {
  height: 352px;
  top: 0;
  left: 0;
  background-color: #51c4f1;
  border-radius: 20px;
  position: absolute;
  width: 395px;
}

.about-us .text-wrapper-26 {
  position: absolute;
  width: 335px;
  top: 66px;
  left: 9px;
  font-family: "Cairo", Helvetica;
  font-weight: 700;
  color: var(--blue-100);
  font-size: 40px;
  line-height: 63.2px;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .rectangle-4 {
  height: 443px;
  top: 2465px;
  left: 526px;
  position: absolute;
  width: 395px;
}

.about-us .ISO-wrapper {
  position: absolute;
  width: 395px;
  height: 565px;
  top: 2343px;
  left: 944px;
  background-color: #0056a0;
  border-radius: 20px;
}

.about-us .ISO {
  width: 318px;
  top: 66px;
  left: 38px;
  font-weight: 700;
  color: var(--blue-100);
  font-size: 40px;
  line-height: 63.2px;
  position: absolute;
  font-family: "Cairo", Helvetica;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .text-wrapper-27 {
  position: absolute;
  top: 1896px;
  left: 611px;
  font-family: var(--header-bold-font-family);
  font-weight: var(--header-bold-font-weight);
  color: var(--blue-500);
  font-size: var(--header-bold-font-size);
  text-align: center;
  line-height: var(--header-bold-line-height);
  white-space: nowrap;
  letter-spacing: var(--header-bold-letter-spacing);
  direction: rtl;
  font-style: var(--header-bold-font-style);
}

.about-us .element-3 {
  width: 1248px;
  top: 951px;
  left: 96px;
  font-weight: 400;
  color: var(--neutral-500);
  font-size: 20px;
  line-height: 35px;
  position: absolute;
  font-family: "Cairo", Helvetica;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .element-4 {
  position: absolute;
  width: 1248px;
  top: 878px;
  left: 97px;
  font-family: "Cairo", Helvetica;
  font-weight: 700;
  color: var(--heavenly-500);
  font-size: 25px;
  line-height: 30.0px;
  letter-spacing: 0;
  direction: rtl;
}

.about-us .text-wrapper-28 {
  font-family: "Cairo", Helvetica;
  font-weight: 700;
  color: #32b1e6;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 30.0px;
}

.about-us .text-wrapper-29 {
  font-size: 40px;
  line-height: 48.0px;
}

.about-us .overlap-12 {
  position: absolute;
  width: 1106px;
  height: 777px;
  top: 4409px;
  left: 167px;
}

.about-us .vector-4 {
  position: absolute;
  width: 3px;
  height: 10px;
  top: 660px;
  left: 1050px;
}

.about-us .vector-5 {
  position: absolute;
  width: 3px;
  height: 7px;
  top: 669px;
  left: 1053px;
}

.about-us .vector-6 {
  position: absolute;
  width: 4px;
  height: 6px;
  top: 678px;
  left: 1057px;
}

.about-us .vector-7 {
  position: absolute;
  width: 4px;
  height: 9px;
  top: 673px;
  left: 1051px;
}

.about-us .vector-8 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 649px;
  left: 1095px;
}

.about-us .vector-9 {
  position: absolute;
  width: 4px;
  height: 5px;
  top: 669px;
  left: 376px;
}

.about-us .vector-10 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 669px;
  left: 380px;
}

.about-us .layer-2 {
  position: absolute;
  width: 1106px;
  height: 777px;
  top: 0;
  left: 0;
}

.about-us .text-wrapper-30 {
  position: absolute;
  top: 4230px;
  left: 534px;
  font-family: var(--header-bold-font-family);
  font-weight: var(--header-bold-font-weight);
  color: var(--blue-500);
  font-size: var(--header-bold-font-size);
  text-align: center;
  line-height: var(--header-bold-line-height);
  white-space: nowrap;
  letter-spacing: var(--header-bold-letter-spacing);
  direction: rtl;
  font-style: var(--header-bold-font-style);
}

.about-us .element-5 {
  position: absolute;
  width: 249px;
  height: 342px;
  top: 3096px;
  left: 116px;
  object-fit: cover;
}

.about-us .element-6 {
  position: absolute;
  width: 267px;
  height: 360px;
  top: 3096px;
  left: 429px;
}

.about-us .element-7 {
  position: absolute;
  width: 249px;
  height: 342px;
  top: 3096px;
  left: 760px;
  object-fit: cover;
}

.about-us .element-8 {
  position: absolute;
  width: 249px;
  height: 342px;
  top: 3096px;
  left: 1082px;
  object-fit: cover;
}

.about-us .element-9 {
  position: absolute;
  width: 71px;
  height: 65px;
  top: 3490px;
  left: 198px;
}

.about-us .bpykpatms {
  position: absolute;
  width: 69px;
  height: 69px;
  top: 3486px;
  left: 850px;
  object-fit: cover;
}

.about-us .element-10 {
  position: absolute;
  width: 103px;
  height: 75px;
  top: 3480px;
  left: 511px;
}

.about-us .layer-3 {
  position: absolute;
  width: 63px;
  height: 62px;
  top: 3492px;
  left: 1168px;
  background-image: url(https://c.animaapp.com/1lwzhgBv/img/rectangle@2x.png);
  background-size: 100% 100%;
}
