:root {
  --blue-100: rgba(255, 255, 255, 1);
  --blue-200: rgba(205, 206, 229, 1);
  --blue-300: rgba(114, 134, 188, 1);
  --blue-400: rgba(73, 108, 173, 1);
  --blue-500: rgba(0, 86, 160, 1);
  --red-400: rgba(241, 92, 66, 1);
  --red-500: rgba(237, 33, 38, 1);
  --heavenly-500: rgba(50, 177, 230, 1);
  --green-300: rgba(119, 192, 67, 1);
  --neutral-0: rgba(255, 255, 255, 1);
  --neutral-100: rgba(247, 247, 247, 1);
  --neutral-200: rgba(209, 211, 213, 1);
  --neutral-300: rgba(153, 158, 161, 1);
  --neutral-400: rgba(117, 117, 117, 1);
  --neutral-500: rgba(75, 75, 75, 1);
  --neutral-900: rgba(27, 27, 27, 1);
  --white: rgba(255, 255, 255, 1);
  --textwhite: rgba(255, 255, 255, 1);
  --textin-field: rgba(204, 204, 204, 1);
  --texttitle: rgba(46, 46, 46, 1);
  --textbody: rgba(128, 128, 128, 1);
  --otherbackground-white: rgba(255, 255, 255, 1);
  --primary60-blue: rgba(61, 184, 245, 1);
  --header-font-family: "Cairo", Helvetica;
  --header-font-weight: 400;
  --header-font-size: 31px;
  --header-letter-spacing: 0px;
  --header-line-height: 120.00000476837158%;
  --header-font-style: normal;
  --header-bold-font-family: "Cairo", Helvetica;
  --header-bold-font-weight: 700;
  --header-bold-font-size: 31px;
  --header-bold-letter-spacing: 0px;
  --header-bold-line-height: 120.00000476837158%;
  --header-bold-font-style: normal;
  --title-font-family: "Cairo", Helvetica;
  --title-font-weight: 400;
  --title-font-size: 25px;
  --title-letter-spacing: 0px;
  --title-line-height: 120.00000476837158%;
  --title-font-style: normal;
  --titlebold-font-family: "Cairo", Helvetica;
  --titlebold-font-weight: 700;
  --titlebold-font-size: 25px;
  --titlebold-letter-spacing: 0px;
  --titlebold-line-height: 120.00000476837158%;
  --titlebold-font-style: normal;
  --sub-title-font-family: "Cairo", Helvetica;
  --sub-title-font-weight: 400;
  --sub-title-font-size: 20px;
  --sub-title-letter-spacing: 0px;
  --sub-title-line-height: 120.00000476837158%;
  --sub-title-font-style: normal;
  --sub-bold-font-family: "Cairo", Helvetica;
  --sub-bold-font-weight: 700;
  --sub-bold-font-size: 20px;
  --sub-bold-letter-spacing: 0px;
  --sub-bold-line-height: 120.00000476837158%;
  --sub-bold-font-style: normal;
  --body-font-family: "Cairo", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 18px;
  --body-letter-spacing: 0px;
  --body-line-height: 120.00000476837158%;
  --body-font-style: normal;
  --body-bold-font-family: "Cairo", Helvetica;
  --body-bold-font-weight: 700;
  --body-bold-font-size: 16px;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: 120.00000476837158%;
  --body-bold-font-style: normal;
  --details-font-family: "Cairo", Helvetica;
  --details-font-weight: 400;
  --details-font-size: 13px;
  --details-letter-spacing: 0px;
  --details-line-height: 120.00000476837158%;
  --details-font-style: normal;
  --details-bold-font-family: "Cairo", Helvetica;
  --details-bold-font-weight: 700;
  --details-bold-font-size: 13px;
  --details-bold-letter-spacing: 0px;
  --details-bold-line-height: 120.00000476837158%;
  --details-bold-font-style: normal;
  --caption-font-family: "Cairo", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 10px;
  --caption-letter-spacing: 0px;
  --caption-line-height: 120.00000476837158%;
  --caption-font-style: normal;
  --caption-bold-font-family: "Cairo", Helvetica;
  --caption-bold-font-weight: 700;
  --caption-bold-font-size: 10px;
  --caption-bold-letter-spacing: 0px;
  --caption-bold-line-height: 120.00000476837158%;
  --caption-bold-font-style: normal;
  --drop-shadow: 0px 5px 10px 0px rgba(36, 36, 36, 0.2);
  --drop-shadow-100: 0px 1px 4px 0px rgba(12, 12, 13, 0.05);
}
