.news {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.news .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1962px;
  position: relative;
}

.news .footer {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-end;
  gap: 10px;
  padding: 40px 97px;
  position: absolute;
  top: 1635px;
  left: 0;
  background-color: var(--blue-500);
}

.news .frame {
  display: flex;
  flex-direction: column;
  height: 245px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.news .frame-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.news .frame-3 {
  display: flex;
  width: 652px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.news .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.news .group {
  position: relative;
  width: 269px;
  height: 19px;
  margin-right: -2.00px;
}

.news .text-wrapper {
  position: absolute;
  width: 267px;
  top: 0;
  left: 0;
  font-weight: var(--body-bold-font-weight);
  color: #ffffff;
  font-size: var(--body-bold-font-size);
  line-height: var(--body-bold-line-height);
  font-family: var(--body-bold-font-family);
  letter-spacing: var(--body-bold-letter-spacing);
  direction: rtl;
  font-style: var(--body-bold-font-style);
}

.news .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.news .frame-6 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.news .text-wrapper-2 {
  position: relative;
  width: 135px;
  height: 18px;
  margin-top: -1.00px;
  font-family: var(--details-font-family);
  font-weight: var(--details-font-weight);
  color: #ffffff;
  font-size: var(--details-font-size);
  text-align: right;
  letter-spacing: var(--details-letter-spacing);
  line-height: var(--details-line-height);
  white-space: nowrap;
  font-style: var(--details-font-style);
}

.news .mail {
  position: relative;
  width: 14px;
  height: 10px;
}

.news .overlap-group-wrapper {
  position: relative;
  width: 13px;
  height: 9px;
  top: 1px;
  left: 1px;
}

.news .overlap-group {
  position: relative;
  width: 14px;
  height: 10px;
  background-image: url(https://c.animaapp.com/gXlZRcOm/img/vector.svg);
  background-size: 100% 100%;
}

.news .vector {
  position: absolute;
  width: 14px;
  height: 5px;
  top: 1px;
  left: 0;
}

.news .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--details-font-family);
  font-weight: var(--details-font-weight);
  color: #ffffff;
  font-size: var(--details-font-size);
  text-align: right;
  letter-spacing: var(--details-letter-spacing);
  line-height: var(--details-line-height);
  white-space: nowrap;
  font-style: var(--details-font-style);
}

.news .vector-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
}

.news .img {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
}

.news .vector-2 {
  position: absolute;
  width: 11px;
  height: 13px;
  top: 1px;
  left: 3px;
}

.news .frame-7 {
  display: flex;
  flex-direction: column;
  width: 89px;
  align-items: flex-end;
  gap: 16px;
  position: relative;
}

.news .div-wrapper {
  position: relative;
  width: 269px;
  height: 19px;
  margin-left: -178.00px;
  margin-right: -2.00px;
}

.news .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: var(--details-font-weight);
  color: #ffffff;
  font-size: var(--details-font-size);
  line-height: var(--details-line-height);
  font-family: var(--details-font-family);
  letter-spacing: var(--details-letter-spacing);
  direction: rtl;
  font-style: var(--details-font-style);
}

.news .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-weight: var(--details-font-weight);
  color: #ffffff;
  font-size: var(--details-font-size);
  line-height: var(--details-line-height);
  font-family: var(--details-font-family);
  letter-spacing: var(--details-letter-spacing);
  direction: rtl;
  font-style: var(--details-font-style);
}

.news .text-wrapper-6 {
  position: relative;
  width: 119px;
  margin-left: -30.00px;
  font-weight: var(--details-font-weight);
  color: #ffffff;
  font-size: var(--details-font-size);
  line-height: var(--details-line-height);
  font-family: var(--details-font-family);
  letter-spacing: var(--details-letter-spacing);
  direction: rtl;
  font-style: var(--details-font-style);
}

.news .frame-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.news .logo {
  position: relative;
  width: 454px;
  height: 87px;
  background-image: url(https://c.animaapp.com/gXlZRcOm/img/------@2x.png);
  background-size: 100% 100%;
}

.news .p {
  position: relative;
  width: 341px;
  font-weight: var(--details-font-weight);
  color: var(--neutral-0);
  font-size: var(--details-font-size);
  line-height: var(--details-line-height);
  font-family: var(--details-font-family);
  letter-spacing: var(--details-letter-spacing);
  direction: rtl;
  font-style: var(--details-font-style);
}

.news .frame-9 {
  position: relative;
  width: 319px;
  flex: 0 0 auto;
}

.news .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.news .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  margin-top: -0.50px;
}

.news .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  text-align: center;
  line-height: var(--body-line-height);
  font-family: var(--body-font-family);
  letter-spacing: var(--body-letter-spacing);
  direction: rtl;
  font-style: var(--body-font-style);
}

.news .frame-11 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 116px;
  left: 1238px;
}

.news .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 17px;
  position: relative;
  flex: 0 0 auto;
}

.news .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: var(--details-font-weight);
  color: var(--neutral-300);
  font-size: var(--details-font-size);
  text-align: left;
  line-height: var(--details-line-height);
  white-space: nowrap;
  font-family: var(--details-font-family);
  letter-spacing: var(--details-letter-spacing);
  direction: rtl;
  font-style: var(--details-font-style);
}

.news .frame-13 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.news .vector-3 {
  position: absolute;
  width: 5px;
  height: 9px;
  top: 4px;
  left: 5px;
}

.news .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: var(--details-font-weight);
  color: var(--neutral-500);
  font-size: var(--details-font-size);
  text-align: left;
  line-height: var(--details-line-height);
  white-space: nowrap;
  font-family: var(--details-font-family);
  letter-spacing: var(--details-letter-spacing);
  direction: rtl;
  font-style: var(--details-font-style);
}

.news .header {
  display: flex;
  width: 1440px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 42px 96px 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fcfcff;
  box-shadow: var(--drop-shadow-100);
}

.news .frame-14 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -2.00px;
  margin-bottom: -2.00px;
}

.news .frame-15 {
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: relative;
  background-color: var(--blue-500);
  border-radius: 8px;
}

.news .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: var(--details-bold-font-weight);
  color: var(--neutral-0);
  font-size: var(--details-bold-font-size);
  text-align: left;
  line-height: var(--details-bold-line-height);
  white-space: nowrap;
  font-family: var(--details-bold-font-family);
  letter-spacing: var(--details-bold-letter-spacing);
  direction: rtl;
  font-style: var(--details-bold-font-style);
}

.news .frame-16 {
  display: inline-flex;
  height: 24px;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.news .frame-17 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.news .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--neutral-500);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.news .arrow {
  transform: rotate(-90.00deg);
  position: relative;
  width: 16px;
  height: 16px;
}

.news .vector-4 {
  position: absolute;
  width: 9px;
  height: 5px;
  top: 6px;
  left: 3px;
  transform: rotate(90.00deg);
}

.news .frame-18 {
  display: flex;
  width: 906px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.news .frame-19 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.news .frame-20 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 0px;
  position: relative;
  flex: 0 0 auto;
}

.news .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: var(--body-font-weight);
  color: var(--neutral-500);
  font-size: var(--body-font-size);
  text-align: left;
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-family: var(--body-font-family);
  letter-spacing: var(--body-letter-spacing);
  direction: rtl;
  font-style: var(--body-font-style);
}

.news .frame-21 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 0px;
  position: relative;
  flex: 0 0 auto;
}

.news .frame-22 {
  display: inline-flex;
  height: 21px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.news .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.50px;
  font-weight: var(--body-font-weight);
  color: var(--neutral-500);
  font-size: var(--body-font-size);
  text-align: left;
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-family: var(--body-font-family);
  letter-spacing: var(--body-letter-spacing);
  direction: rtl;
  font-style: var(--body-font-style);
}

.news .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: var(--body-bold-font-weight);
  color: var(--blue-500);
  font-size: var(--body-bold-font-size);
  text-align: left;
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-family: var(--body-bold-font-family);
  letter-spacing: var(--body-bold-letter-spacing);
  direction: rtl;
  font-style: var(--body-bold-font-style);
}

.news .rectangle {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 3px;
  background-color: var(--blue-500);
  border-radius: 8px;
}

.news .frame-23 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 0px;
  position: relative;
  flex: 0 0 auto;
}

.news .frame-24 {
  display: flex;
  width: 57px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 0px;
  position: relative;
}

.news .untitled {
  position: relative;
  width: 279px;
  height: 42px;
  object-fit: cover;
}

.news .frame-25 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: absolute;
  top: 150px;
  left: 1045px;
}

.news .group-2 {
  position: relative;
  width: 328px;
  height: 37px;
  margin-right: -2.00px;
}

.news .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: var(--header-bold-font-weight);
  color: var(--blue-500);
  font-size: var(--header-bold-font-size);
  text-align: center;
  line-height: var(--header-bold-line-height);
  white-space: nowrap;
  font-family: var(--header-bold-font-family);
  letter-spacing: var(--header-bold-letter-spacing);
  direction: rtl;
  font-style: var(--header-bold-font-style);
}

.news .text-wrapper-16 {
  position: absolute;
  top: 50px;
  left: 141px;
  width: fit-content;
  font-weight: var(--sub-title-font-weight);
  color: var(--neutral-500);
  font-size: var(--sub-title-font-size);
  text-align: left;
  line-height: var(--sub-title-line-height);
  white-space: nowrap;
  font-family: var(--sub-title-font-family);
  letter-spacing: var(--sub-title-letter-spacing);
  direction: rtl;
  font-style: var(--sub-title-font-style);
}

.news .frame-26 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 277px;
  left: 96px;
}

.news .frame-27 {
  display: inline-flex;
  align-items: center;
  gap: 31px;
  position: relative;
  flex: 0 0 auto;
}

.news .group-3 {
  position: relative;
  width: 288px;
  height: 393px;
}

.news .group-4 {
  position: relative;
  width: 287px;
  height: 393px;
}

.news .overlap-group-2 {
  position: relative;
  height: 393px;
  border-radius: 8px;
}

.news .frame-28 {
  display: flex;
  flex-direction: column;
  width: 287px;
  height: 393px;
  align-items: center;
  justify-content: flex-end;
  gap: 114px;
  padding: 58px 8px 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.news .group-5 {
  position: absolute;
  width: 287px;
  height: 393px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/gXlZRcOm/img/image-22-2@2x.png);
  background-size: cover;
  background-position: 50% 50%;
}

.news .rectangle-2 {
  position: absolute;
  width: 287px;
  height: 393px;
  top: 0;
  left: 0;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(25, 25, 25, 1) 0%,
    rgba(27, 27, 27, 0.73) 45%,
    rgba(38, 38, 38, 0.4) 100%
  );
}

.news .frame-29 {
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.news .vector-5 {
  position: relative;
  width: 16px;
  height: 14px;
}

.news .text-wrapper-17 {
  position: relative;
  width: 8px;
  height: 12px;
  font-family: var(--details-bold-font-family);
  font-weight: var(--details-bold-font-weight);
  color: var(--blue-100);
  font-size: var(--details-bold-font-size);
  text-align: right;
  letter-spacing: var(--details-bold-letter-spacing);
  line-height: var(--details-bold-line-height);
  white-space: nowrap;
  font-style: var(--details-bold-font-style);
}

.news .comment {
  position: relative;
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}

.news .group-6 {
  position: relative;
  width: 15px;
  height: 14px;
  top: 1px;
  left: 1px;
  background-image: url(https://c.animaapp.com/gXlZRcOm/img/vector-7.svg);
  background-size: 100% 100%;
}

.news .text-wrapper-18 {
  position: relative;
  align-self: stretch;
  font-family: var(--details-bold-font-family);
  font-weight: var(--details-bold-font-weight);
  color: var(--blue-100);
  font-size: var(--details-bold-font-size);
  letter-spacing: var(--details-bold-letter-spacing);
  line-height: var(--details-bold-line-height);
  direction: rtl;
  font-style: var(--details-bold-font-style);
}

.news .instagram {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 8px;
  left: 261px;
  border-radius: 4px;
  background-image: url(https://c.animaapp.com/gXlZRcOm/img/instagram---167--2.svg);
  background-size: 100% 100%;
}

.news .group-7 {
  position: relative;
  width: 15px;
  height: 14px;
  top: 1px;
  left: 1px;
  background-image: url(https://c.animaapp.com/gXlZRcOm/img/vector-11.svg);
  background-size: 100% 100%;
}
